body {
    font-family: sans-serif;
    text-align: center;
    background: #f2f2f2;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 10px;
  }
  
  .controls {
    margin-bottom: 20px;
  }
  
  button {
    padding: 8px 16px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #winMessage {
    color: green;
    height: 30px;
  }

  #points{
    color: #30b64f;
    height: 25px;
  }
  
  .game-board {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    gap: 10px;
    justify-content: center;
  }
  
  .card {
    width: 80px;
    height: 80px;
    background: #333;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
  }
  
  .card.flipped {
    background: #61dafb;
  }

  .by{
    padding: 15px;
    font-size: 18px;
    color:blueviolet;
    font-weight: bold;
    box-shadow: 0 -2px 5px rgb(0, 0, 0,);
    position: fixed;
    bottom: 0;
    width: 100%;

  }